@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="row text-center">
    <div class="col-md-12 text-center">
        <hgroup class="title">
            <h1 class="error">Internal Server Error.</h1>
            <h2 class="error">There was a problem on our end.</h2>
        </hgroup>
    </div>
</div>

