@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="layoutanonymous-account">
    @if (IsSectionDefined("pagetitle"))
    {
        @RenderSection("pagetitle", false)
    }
    else
    {
        <div class="row">
            <div id="page-title" class="col-md-12">
                <h2><i class="fa fa-user"></i>Account &nbsp;<small>Services</small></h2>
                <hr />
            </div>
        </div>
    }
    @RenderBody()
</div>
