<a href="#" data-toggle="modal" data-target="#shoppingcart-modal">
    <i class="fa fa-shopping-cart"></i>
    <span class="item-count">
        &nbsp;(&nbsp;<b>@ViewBag.CartItemCount</b>&nbsp;)&nbsp;
    </span>
</a>

