@model List<Project.MVC.Web.ViewModels.Store.ProductViewModel>

<div id="relatedproducts-store">
    @foreach (var product in Model)
    {
        <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="product">
                    <a class="image-container" href="@Url.Action("ProductDetails", "Store", new { productID = product.ProductID })">
                        <img class="img-responsive" src="@Url.Content(product.DefaultImage.ImagePath)">
                        <span class="overlay-container">
                            <span class="overlay-content">
                                <span class="col-sm-6 col-xs-12">
                                    @product.ProductName
                                </span>
                                <span class="col-sm-6 col-xs-12 pull-right text-right">
                                    @Html.CurrencyFormatter(product.UnitPrice)
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
    }
</div>
