

<style>
    .height {
        height: 180px;
    }

    .promo-wrap {
        margin-bottom: 10px;
        overflow: auto;
    }
</style>

<div id="storepromotional-store">
    <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-6">
            <div class="height promo-wrap silver">
                <h4 class="text-center">promo section</h4>
            </div>
        </div>
        <div class="col-md-12 col-sm-6 col-xs-6">
            <div class="height promo-wrap silver">
                <h4 class="text-center">promo section</h4>
            </div>
        </div>
    </div>
</div>
