@model Company.Commerce.Web.ViewModels.Checkout.CreditCardViewModel

<div>
    @Html.DisplayFor(m => m.CardNumber)
    @Html.DisplayFor(m => m.Expiration)
    @Html.DisplayFor(m => m.VerificationNumber)
</div>

