Content-Type: text/html; charset=utf-8


<html>
<body>
    This email serves to inform you that the @ViewBag.UpdatedProperty associated with
    your account has been changed from @ViewBag.OriginalValue, to @ViewBag.NewValue.
</body>
</html>

