Content-Type: text/html; charset=utf-8


<html>
<body>
    We are sending this email in response to your forgotten username request.

    Your username is : @ViewBag.Username

    Please use this when logging into the site.
</body>
</html>
