Content-Type: text/html; charset=utf-8


<html>
<body>
    We are sending this email in response to your forgotten password request.

    Please visit <a href="@ViewBag.ChangePasswordLink">this link</a> to change your password:
</body>
</html>

