Content-Type: text/html; charset=utf-8

<html>
<body>
    <p>Hello @ViewBag.UserName,</p>
    <p>This is a message</p>
    <p>
        Thank you for signing up! To complete the registration process,
        please visit <a href="@ViewBag.ConfirmationLinkText">this link.</a>
    </p>
</body>
</html>
