@section pagetitleicon
    {
    <i class="fa fa-exclamation-triangle"></i>
}

<div id="confirm-account">
    <h4 class="text-warning">Thanks for registering!</h4>
    <h5>
        An email has been sent to the email you provided detailing how
        to complete the registration process!
    </h5>
</div>
