<!-- Page title -->
@section pagetitle
{
    <div class="row">
        <div id="page-title" class="col-md-12">
            <h2><i class="fa fa-users"></i>About&nbsp;<small>Us</small></h2>
            <hr />
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <h4>Not yet</h4>
    </div>
</div>

@*<div class="about-us blocky">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <!-- Service title with tag -->
                    <h4>What We Do In Free Time?</h4>
                    <p>Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit.</p>
                    <a href="#">Check out every.panel .panel-default <i class="icon-double-angle-right"></i></a>

                    <hr />

                    <div class="form">
                        <h4>Search</h4>
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <input type="email" class="form-control" id="search" placeholder="Type...">
                            </div>
                            <button type="submit" class="btn btn-info">Search</button>
                        </form>
                    </div>
                    <br />
                </div>

                <div class="col-md-7 col-sm-7">
                    <h4>About Us</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Esuada fames ac turpis egestas. Suspendisse porttitor luctus imperdiet. <a href="#">Praesent ultricies</a> enim ac ipsum aliquet pellentesque. </p>
                    <br />

                    <ul>
                        <li>Etiam adipiscing posuere justo, nec iaculis justo dictum non</li>
                        <li>Cras tincidunt mi non arcu hendrerit eleifend</li>
                        <li>Aenean ullamcorper justo tincidunt justo aliquet et lobortis diam faucibus</li>
                        <li>Maecenas hendrerit neque id ante dictum mattis</li>
                        <li>Vivamus non neque lacus, et cursus tortor</li>
                    </ul>

                    <p>Nulla facilisi. Sed justo dui, scelerisque ut consectetur vel, eleifend id erat. Morbi auctor adipiscing tempor. Phasellus condimentum rutrum aliquet.  Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <br />
                </div>

                <div class="col-md-2 col-sm-2">
                    <h4>Clients
                    </h4>
                    <ul>
                        <li><a href="#">Condimentum</a></li>
                        <li><a href="#">Etiam at</a></li>
                        <li><a href="#">Fusce vel</a></li>
                        <li><a href="#">Vivamus</a></li>
                        <li><a href="#">Pellentesque</a></li>
                    </ul>
                    <br />
                </div>
            </div>
            <div class="sep-bor"></div>

            <!-- About team starts -->
            <div class="about-team">
                <h3><i class="icon-group color"></i>Our Team</h3>
                <hr />

                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <!-- Staff #1 -->
                        <div class="staff">
                            <!-- Picture -->
                            <div class="pic">
                                <img src="~/content/images/user.jpg" alt="" class="img-responsive" />
                            </div>
                            <!-- Details -->
                            <div class="details">
                                <!-- Name and designation -->
                                <div class="desig pull-left">
                                    <p class="name">Ravi Kumar</p>
                                    <em>CEO of Metro</em>
                                </div>
                                <!-- Social media details. Replace # with profile links -->
                                <div class="asocial pull-right">
                                    <a href="#"><i class="icon-facebook"></i></a>
                                    <a href="#"><i class="icon-twitter"></i></a>
                                    <a href="#"><i class="icon-linkedin"></i></a>
                                </div>
                                <div class="clearfix"></div>
                                <!-- Description -->
                                <p class="adesc">Praes at tellus in  ligula porttitor nisl porttitor sagittis. Mauris in massa ligula, a tpor in massa ligula nulla. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <!-- Staff #2 -->
                        <div class="staff">
                            <div class="pic">
                                <img src="~/content/images/user.jpg" alt="" class="img-responsive" />
                            </div>
                            <div class="details">
                                <div class="desig pull-left">
                                    <p class="name">Santhosh Kumar</p>
                                    <em>CTO of Metro</em>
                                </div>
                                <div class="asocial pull-right">
                                    <a href="#"><i class="icon-facebook"></i></a>
                                    <a href="#"><i class="icon-twitter"></i></a>
                                    <a href="#"><i class="icon-linkedin"></i></a>
                                </div>
                                <div class="clearfix"></div>
                                <p class="adesc">Praes at tellus in  ligula porttitor nisl porttitor sagittis. Mauris in massa ligula, a tpor in massa ligula nulla. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <!-- Staff #3 -->
                        <div class="staff">
                            <div class="pic">
                                <img src="~/content/images/user.jpg" alt="" class="img-responsive" />
                            </div>
                            <div class="details">
                                <div class="desig pull-left">
                                    <p class="name">Ashok Kumar</p>
                                    <em>CFO of Metro</em>
                                </div>
                                <div class="asocial pull-right">
                                    <a href="#"><i class="icon-facebook"></i></a>
                                    <a href="#"><i class="icon-twitter"></i></a>
                                    <a href="#"><i class="icon-linkedin"></i></a>
                                </div>
                                <div class="clearfix"></div>
                                <p class="adesc">Praes at tellus in  ligula porttitor nisl porttitor sagittis. Mauris in massa ligula, a tpor in massa ligula nulla. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <!-- Staff #4 -->
                        <div class="staff">
                            <div class="pic">
                                <img src="~/content/images/user.jpg" alt="" class="img-responsive" />
                            </div>
                            <div class="details">
                                <div class="desig pull-left">
                                    <p class="name">Babu Kumar</p>
                                    <em>CMO of Metro</em>
                                </div>
                                <div class="asocial pull-right">
                                    <a href="#"><i class="icon-facebook"></i></a>
                                    <a href="#"><i class="icon-twitter"></i></a>
                                    <a href="#"><i class="icon-linkedin"></i></a>
                                </div>
                                <div class="clearfix"></div>
                                <p class="adesc">Praes at tellus in  ligula porttitor nisl porttitor sagittis. Mauris in massa ligula, a tpor in massa ligula nulla. </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- About team ends -->
            <div class="sep-bor"></div>
        </div>
    </div>*@

<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span>