<!-- Page title -->
<div class="page-title">
    <div class="container">
        <h2><i class="fa fa-desktop color"></i>Support <small>Subtext for header</small></h2>
        <hr />
    </div>
</div>
<!-- Page title -->

<!-- Page content -->

<div class="page-content blocky">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <div class="filter-area">
                    <h4>Type to Filter:</h4>
                    <div id="form"></div>
                    <hr />
                    <div class="clearfix"></div>

                    <!-- Lists -->
                    <ol id="slist">
                        <!-- List #1 -->
                        <li>
                            <!-- Title -->
                            <a href="#">Sed eu leo orci condimentum grvid metus</a>
                            <!-- Para -->
                            <p>Fusce imperdiet, risus eget viverra faucibus, diam mi vestibulum libero, ut vestibulum tellus magna nec enim. Nunc dapibus varius interdum. Phasellus at lorem ut lectus fermentum convallis. Sed diam nisi, pulvinar vitae molestie hendrerit, venenatis eget mauris. Integer porta erat ac eros porta ultrices. Proin porttitor eros a ante molestie gravida commodo dui adipiscing.</p>
                        </li>
                        <!-- List #2 and so on.... -->
                        <li>
                            <a href="#">Fusce imperdiet risus eget viverr</a>
                            <p>Fusce imperdiet, risus eget viverra faucibus, diam mi vestibulum libero, ut vestibulum tellus magna nec enim. Nunc dapibus varius interdum. Phasellus at lorem ut lectus fermentum convallis. Sed diam nisi, pulvinar vitae molestie hendrerit, venenatis eget mauris. Integer porta erat ac eros porta ultrices. Proin porttitor eros a ante molestie gravida commodo dui adipiscing.</p>
                        </li>
                        <li>
                            <a href="#">Dimmi vestibulum libero ut vestibulum</a>
                            <p>Fusce imperdiet, risus eget viverra faucibus, diam mi vestibulum libero, ut vestibulum tellus magna nec enim. Nunc dapibus varius interdum. Phasellus at lorem ut lectus fermentum convallis. Sed diam nisi, pulvinar vitae molestie hendrerit, venenatis eget mauris. Integer porta erat ac eros porta ultrices. Proin porttitor eros a ante molestie gravida commodo dui adipiscing.</p>
                        </li>
                        <li>
                            <a href="#">Aeros a ante molestie gravida commodo</a>
                            <p>Fusce imperdiet, risus eget viverra faucibus, diam mi vestibulum libero, ut vestibulum tellus magna nec enim. Nunc dapibus varius interdum. Phasellus at lorem ut lectus fermentum convallis. Sed diam nisi, pulvinar vitae molestie hendrerit, venenatis eget mauris. Integer porta erat ac eros porta ultrices. Proin porttitor eros a ante molestie gravida commodo dui adipiscing.</p>
                        </li>
                        <li>
                            <a href="#">Integer porta erat ac eros porta</a>
                            <p>Fusce imperdiet, risus eget viverra faucibus, diam mi vestibulum libero, ut vestibulum tellus magna nec enim. Nunc dapibus varius interdum. Phasellus at lorem ut lectus fermentum convallis. Sed diam nisi, pulvinar vitae molestie hendrerit, venenatis eget mauris. Integer porta erat ac eros porta ultrices. Proin porttitor eros a ante molestie gravida commodo dui adipiscing.</p>
                        </li>
                        <li>
                            <a href="#">Molestie gravida commodo dui adipiscing</a>
                            <p>Fusce imperdiet, risus eget viverra faucibus, diam mi vestibulum libero, ut vestibulum tellus magna nec enim. Nunc dapibus varius interdum. Phasellus at lorem ut lectus fermentum convallis. Sed diam nisi, pulvinar vitae molestie hendrerit, venenatis eget mauris. Integer porta erat ac eros porta ultrices. Proin porttitor eros a ante molestie gravida commodo dui adipiscing.</p>
                        </li>
                    </ol>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">

                <!-- Contact box -->
                <div class="scontact">
                    <!-- Title -->
                    <h4>Contact</h4>
                    <!-- Phone, email and address with font awesome icon -->
                    <p>Praesent at tellus porttitor nisl porttitor sagittis. Mauris in massa ligula, a tempor nulla.</p>

                    <p><i class="fa fa-phone"></i>Phone<strong>:</strong> 123-456-7890</p>

                    <p><i class="fa fa-envelope-alt"></i>Email<strong>:</strong> some.panel .panel-default@gmail.com</p>

                    <p><i class="fa fa-home"></i>Address<strong>:</strong> 12, Srtington Street, NY, USA </p>
                    <!-- Button -->
                    <a href="contactus.html" class="btn btn-info">Contact Us</a> <a href="faq.html" class="btn btn-default">Check out FAQ</a>
                </div>

            </div>

        </div>
        <div class="sep-bor"></div>
    </div>
</div>

